* {
	background-color:#121212;
	color:#BB86FC;
	font-family:Comfortaa;
	line-height:1.2;
	margin:auto;
	text-align:center;
}
.logo {
	font-size:larger;
	margin-top:-2rem;
	max-width:20rem;
}
.blocks {
	display:flex;
	margin-top:2rem;
	max-width:fit-content;
}
.block {
	border:0.15rem solid;
	font-size:larger;
	height:15rem;
	padding:0.5rem;
	width:7rem;
}
.link {
	background-color:#ffffff;
	border-radius:100%;
	display:block;
	filter:blur(0.5px)contrast(200%)grayscale()invert();
	height:2.5rem;
	margin-bottom:0.5rem;
}