* {
	background-color:#121212;
	font-family:Comfortaa;
	margin:auto;
	max-width:30rem;
	text-align:center;
}
.logo {
	max-width:75%;
	max-height:75%;
	margin:-5%;
	margin-bottom:-10%;
}
.about {
	color:#BB86FC;
	font-size:larger;
	line-height:1.5;
	margin-bottom:5%;
}
.link {
	background-color:#ffffff;
	filter: invert();
	border-radius: 100%;
	transform: scale(1.2);
}